<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>About</h4>
        This application was created as a demonstration of Python and Flask for the Web Information Systems course (<a href="https://my.uq.edu.au/programs-courses/course.html?course_code=infs3202">INFS3202</a>) during the two-week guest lecture.</p>
        <p>This application showcases the architectural patterns of a typical Flask application.</p>
        <p>It utilises:</p>
        <ul>
            <li>- Flask-SQLAlchemy along with Flask-Migrate to manage data persistence.</li>
            <li>- Flask-Session for managing user sessions.</li>
            <li>- Authlib and Auth0 for providing authentication (and authorization, but not used).</li>
            <li>- Jinja2 for templating HTML pages.</li>
            <li>- Flask-Uploads for the basic uploads functionality of videos.</li>
        </ul>
        <p>This application was developed by <a target="_blank" href="https://s4526470.github.io/">Dechao ZHANG</a>.
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>